body{
  margin: 0px;
  margin-left: 200px;
  margin-right: 200px;
  
}

#header{

  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
margin-bottom: 50px;

}

#navbar{
  margin: 0px;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  border-bottom: 1px solid rgba(102, 102, 102, 0.5);

}
#nav-cont{
  margin: 0px ;
  width: 100%;
}


#logo-cont{
  width: 200px;
  margin: 0px;
  
}


.logo{
  width: 100%;
  object-fit: contain;
}

.nav-item{
    font-size: 15px;
    list-style-type: none;
  
}
.nav-item:hover{
  color: #84c225;
}
#bars{
  font-size: 30px;
}
#footer-cont{
  margin-top: 20px;
}


#footer{
  margin-top: 20px;
  background-color: #cbf887 ;
  font-size: 15px;
  color: black;
  text-decoration: none;

}

#footer h5{
  font-size: 18px;
}



#advertisment{

  width: 100%;
}

#ad-cont{
  margin-top: 20px;
}


#featured-product{
  margin-top: 50px;
}
#featured-product h2{
  text-align: center;
}


#all-product{
  margin-top: 50px;
}
#all-product h2{
  text-align: center;
}


@media(min-width:1024px){
  #header{
    margin-left: 200px;
    margin-right: 200px;
  }
  #footer{
    margin-left: 200px;
    margin-right: 200px;
  }
  .carousel-root{
    width: 1000px;
    margin: auto;
  }
}

#cardimg{
width: 100%;
height: auto;

}

#product-card{
  margin-right: 10px;

  text-decoration: none;
 
}

#card-img{
  align-items: center;
}

#card-add-btn button{
  width: 100%;
  font-size: 15px;
  margin-top: 5px;

}

#card-price{
  font-size: 15px;
}


#product-card:hover{
  border: 1px solid rgb(161, 161, 161);
  text-decoration: none;
}


#card-name{

  font-size: 20px;
  text-decoration: none;
}
#card-name:hover{

  font-size: 20px;
  color: #84c225;
}

#mrp{
  font-size: 12px;
}

#detail-page h1 {
 font-size: 30px;
}

#price{
  text-transform: none;
}

#desp p{
 font-size: 18px;
}

#product-img{
  width: 100%;
}
#spinner{
  width: 100px;
  height: 100px;
  margin-left:300px;
  display: block;

}
#product-name{
  font-size: 20px;
  text-decoration: none;
}
#product-name:hover{

  font-size: 20px;
  color: #84c225;
}

#product-price{
  font-size: 15px;
}

#price-pack h3{
  text-transform: none;
}

.rating {
  font-size: 12px;
}
#qty{
  font-size: 15px ;
  margin-top: 10px;
  margin-bottom: 10px;
}

#qty .form-control{
  font-size: 10px ;
  margin-top: 10px;
  margin-bottom: 10px;
}



#alert{
  font-size: 15px
}

#cart-items{
  font-size: 15px;
}


#cart-items .form-control{
  font-size: 15px;
}

#cart-items i {
  font-size: 15px;
}

#subtotal{
  font-size: 15px;
}


#checkout .btn{
font-size: 15px;
}


#form{
  font-size: 15px;
  margin-top: 20px;
}
#form2{
  font-size: 15px;
  margin-top: 20px;
}

#table-tr th{
  font-size: 15px;
}

#go-back-btn{
  font-size: 15px;
}


#form .btn{
  font-size: 15px;
  margin-top: 20px;
}

#form input{
  font-size: 15px;
}

#wrong{
  margin-top: 20px;
  font-size: 15px;
}

#register-link{
  font-size: 15px;
}

#nav-real{
  display: block;
  margin-top: 5px;
}

.dropdown-item{
  font-size: 15px;
}

.form-check-label{
  margin-left: 20px;
}

@media(max-width:768px){
  #logo-cont{

    margin-left: auto;
    margin-right: auto;
     
   }
   #spinner{
    width: 100px;
    height: 100px;
    margin-left:120px;
    display: block;
  
  }
  #nav-items{
    display: block;
  }
  .carousel-root{
    width: 100%;
    margin: auto;
  }

  
  }

  @media(max-width:425px){
    #ad-cont{
      padding-left: 0px;
      padding-right: 0px;
      
    }
    #advertisment{
      height: 50px;
    }
    #cardimg{
      width: 100%;
    }
    #spinner{
      width: 100px;
      height: 100px;
      margin-left:120px;
      display: block;
    
    }

  }